<h1>Create a new project</h1>

<% if !@project.errors.messages.empty? %>
    <h3>Errors:</h3>
    <ul>
        <% @project.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
    <br>
<% end %>

<%= form_for(@project) do |f| %>

    <%= render 'new_form', f: f %>
    
<% end %>