#sign-up-page {
  text-align: center;
}

#sign-up-wrapper {
  width: 400px;
  border: 1px solid black;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
}

.new_user {
  margin-bottom: 15px;
}
